* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*navbar css*/
nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
#item_flex {
  background-color: #edf2ef;
  padding: 15px;
  /* position: fixed; */
}
#item_flex ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  flex-wrap: wrap;
  margin-right: 50px;
}
nav ul li:hover {
  padding-top: 6px;
  opacity: 0.8;
  transition: 0.3s;
  border-radius: 8px;
  transform: scale(1.11);
}
#item_flex ul li {
  width: 200px;
  height: 60px;
  list-style-type: none;
  color: rgb(1, 10, 18);
  font-size: 40px;
  font-style: italic;
  text-align: center;
  background-color: rgb(255, 169, 10);
  border-radius: 8px;
}
#item_flex a {
  text-decoration: none;
  color: rgb(1, 10, 18);
}
#icon {
  font-size: 50px;
  margin-bottom: -60px;
  margin-left: 30px;
}
/*hading css*/
h1 {
  text-align: center;
  font: weight 100px;
  font-size: 90px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 120px;
  background-color: #1f2937;
  color: #f9faf8;
}
/*hero section*/
#hero {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: #1f2937;
  gap: 100px;
}
#hero img {
  width: 350px;
  height: 450px;
  border-radius: 28px;
  margin-top: 50px;
  margin-right: -100px;
  margin-bottom: 50px;
}
#img:hover {
  transition: 0.3s;
  border-radius: 28px;
  transform: scale(1.15);
}
#hero h2 {
  font-size: 52px;
  width: 550px;
  color: #f9faf8;
  height: 50px;
  margin-right: 200px;
}
#hero p {
  font-size: 23px;
  width: 450px;
  color: #f9faf8;
  height: 200px;
  margin-top: 25px;
}
#hero button {
  font-size: 25px;
  padding: 10px;
  margin-left: 100px;
  background-color: rgb(255, 169, 10);
  border-radius: 10px;
}
#btn:hover {
  background-color: rgb(250, 245, 245);
  transition: 0.3s;
  border-radius: 8px;
  transform: scale(1.1);
}
/*info section*/
.info h2 {
  font-size: 60px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 400px;
}
#info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#info img {
  width: 300px;
  height: 400px;
  border-radius: 28px;
  margin-bottom: 20px;
}

#details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 40px;
}
#details li {
  list-style-type: none;
  font-size: 25px;
  font-style: oblique;
  height: 40px;
  font-weight: 400px;
  margin-bottom: 10px;
}
#details span {
  margin-left: 30px;
}
/*about section*/
#about {
  background-color: #e5e7eb;
}
#about p {
  color: #1f2937;
  font-size: 32px;
  text-align: center;
  padding-left: 200px;
  font-style: italic;
  padding-top: 100px;
  font-weight: 100px;
  padding-right: 200px;
}
#about h3 {
    text-align: end;
    padding-bottom: 80px;
    padding-right: 50px;
    font-size: 35px;
}
#cta {
  align-items: center;
  display: flex;
  background-color:  #3882f6;;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  color: #fff;
  border: 3px solid black;
}
#cta h2 {
  margin-top: 20px;
  font-size: 35px;
  height: 50px;
  padding-left: 70px;
  
}
#cta p {
  font-size: 20px;
  height: 30px;
  padding-left: 70px;
  margin-bottom: 20px;
}
#cta button {
  font-size: 25px;
  padding: 10px;
margin-left: 150px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
}
#cta button:hover {
  background-color: #e5e7eb;
  transition: 0.3s;
  border-radius: 8px;
  transform: scale(1.1);
}
footer {
  text-align: center;
  background-color: #1f2937;
  color: #e5e7eb;
  padding-top: 20px;
  padding-bottom: 20px;
}
